body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
    line-height: 1.5;
}
ul, ol {
    list-style-type: none;
}

a {
text-decoration: none;
}
/* button {
    cursor: pointer;
} */

/* header */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;  
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
}

.header-logo .logo-part {
color: #2e2f42;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style-type: none;
    text-decoration: none;
}

/* .nav-link:active {
    color: #404bbf;
} */

.adres-info {
    font-style: normal;
}

.adres-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style-type: none;
    text-decoration: none;
    color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.adres-link:hover,
.adres-link:focus {
    color: #404bbf;
}

/* main content */
/* section one */

.section-one {
    background-color: #2e2f42;
}

.section-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.button-os {
    font-family: "Roboto", sans-serif;
    min-width: 169px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #fff;
}

.button-os:hover,
.button-os:focus {
    background-color: #404bbf;
    color: #fff;
}

/* section two */

.strategy-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.strategy-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* section team */

.section-team {
    background-color: #f4f4fd;
}

.our-team {
    background-color: #fff;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.list-team {
    background-color: #F4F4FD;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-txt {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.item-team {
    background-color: #fff;
}

/* Section Portfolio */

.section-portfolio {
    background-color: #f4f4fd;
}
.our-port {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.port-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.port-txt {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer */

.footer {
    background-color: #2e2f42;
}

.footer-logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.logo-stud {
    color: #f4f4fd;
}

.footer-txt {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}