body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
    line-height: 1.5;
    /* min-height: 100vh;
    display: flex;
    flex-direction: column; */
}
* {
  box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
    margin: 0;
	padding: 0;
}

a {
text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

button {
    cursor: pointer;
}

.container {
max-width: 1158px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
min-height: 20%;
}
/* .header-container {
    background-color: green;
} */
 

/* header */
.header-container {
display: flex;
align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}
header {
    background: #fff;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.nav-menu {
  display: flex;
align-items: center;
gap: 40px;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;  
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
color: #2e2f42;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style-type: none;
    text-decoration: none;
}

.adres-info {
    font-style: normal;
    border-bottom: 1px solid #e7e9fc;
    margin-left: auto;
}

.adres-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.adres-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style-type: none;
    text-decoration: none;
    color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.adres-link:hover,
.adres-link:focus {
    color: #404bbf;
}


/* main content */
/* section one */

/* .div-one {
    width: 1440px;
height: 587px;
display: block;
    unicode-bidi: isolate;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
} */

.container-one {
    width: 1440px;
    height: 587px;
    padding: 188px 0;
}
.section-one {
    background-color: #2e2f42;
}

.section-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    padding-top: 162px;
    padding-bottom: 24px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    border: 2px dashed #212121;
}

.button-os {
    font-family: "Roboto", sans-serif;
    min-width: 169px;
    height: 56px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #fff;
    text-align: center;
    cursor: pointer;
    display: block;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.button-os:hover,
.button-os:focus {
    background-color: #404bbf;
    color: #fff;
}

/* section two */

.container-two {
     padding: 120px 0 120px;
     border: 2px dashed #b45011;

    /* display: flex; */
}
.list-section-two {
    display: flex;
    margin-right: 24px;
    gap: 24px;
    
}
.list-li {
    margin-bottom: 8px;
    padding: 5px;
    width: 264px;
    height: 59px;
     width: calc((100% - 3 * 24px) / 4);
    /* display: block; */
}
.strategy-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: flex-start;
     margin-bottom: 8px;
}

.strategy-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* text-align: left; */
}

.visually-hidden {
    position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0; 
 padding: 0;
 white-space: nowrap; 
 clip-path: inset(100%); 
 clip: rect(0 0 0 0);
 overflow: hidden;
 }


/* section team */
.container-three {
     padding: 120px 0;
    display: block;
}


.section-two {
    background-color: #f4f4fd;
     display: flex; 
}

.our-team {
    background-color: #fff;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
/* display: inline; */
    

}


.list-team {
    background-color: #F4F4FD;
    display: flex;
    gap: 24px;
    /* flex-direction: row;
    flex-wrap: wrap;  */
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-txt {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.item-team {
    background-color: #fff;
    margin-right: 24px;
    margin-right: 0;
    border-radius: 0px 0px 4px 4px; 
}

.mark-g .tom-f {
     padding: 32px 0;
}

/* Section Portfolio */
 .container-four {
   border: 2px dashed #b45011;
background-color: #fff;
max-width: 1128px;
  padding-top: 120px;
  padding-bottom: 120px; 
  margin-left: auto;
  margin-right: auto;

 }

img {
    border-radius: 0px 0px 4px 4px;
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px;
    border-top-right-radius: 4px; 
    border-bottom-left-radius:4px;
    display: block; 
  /* max-width: 100%; */
  /* flex-wrap: wrap; */
}

.mark-g {
    padding: 32px 0;
}

.team-name {
    text-align: center;
}

.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
     column-gap: 24px;

}

.li-ptf {
    margin-right: 24px;
    background-color: #fff;
}

.section-portfolio {
    background-color: #f4f4fd;
}
.our-port {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    padding: 2px 500px 20px 500px;
    /* max-width: 684px; */
    
    
}

.port-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px; 
}

.port-txt {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer */
/* .container-footer {
   border: 2px dashed #b45011;
   width: 1440px;
height: 312px;
background: #2e2f42;

} */

.footer {
    background-color: #2e2f42;
    min-width: 1440px;
    height: 312px;
    padding: 100px 0 100px;
    display: flex;
    gap: 64px;

}

.footer-logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-stud {
    color: #f4f4fd;
}

.footer-txt {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
     margin-bottom: 16px;
   /* text-align: center;  */
}